<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Idle Chase</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <link href="https://fonts.googleapis.com/css?family=Bungee|Montserrat:400,600" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <link rel="shortcut icon" href="/images/icon.png" />
</head>
<body>
  {{{body}}}
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/javascripts/phaser.min.js"></script>
  <script src="/javascripts/phaser-plugin-virtual-gamepad.js"></script>
  <script src="/javascripts/main.js"></script>
</body>
</html>
