<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Idle Chase</title>
  <link href="https://fonts.googleapis.com/css?family=Bungee|Montserrat:400,600" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
  {{{body}}}
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/javascripts/main.js"></script>
</body>
</html>
