<div id="colors">
  <div class="text">Select a Color</div>
  <div data-color="red" class="red color"></div>
  <div data-color="green" class="green color"></div>
  <div data-color="blue" class="blue color"></div>
  <div data-color="brown" class="brown color"></div>
  <div data-color="yellow" class="yellow color"></div>
  <div data-color="purple" class="purple color"></div>
  <div data-color="orange" class="orange color"></div>
  <div data-color="pink" class="pink color"></div>
  <div data-color="gray" class="gray color"></div>
</div>
<div id="content-wrapper">
  <div id="game">
    <svg id="canvas" xmlns="http://www.w3.org/2000/svg"></svg>
    <input type="text" id="textbox" maxlength="55" />
  </div>
  <div id="userlist"></div>
</div>
