<div id="initial-splash">
  <div class="logo">Idle Chase</div>
  <form method="post" id="enter-form">
    <div class="pick-name">
      <input type="text" id="name-input" maxlength="20" placeholder="Type your name" required="required" />
    </div>
    <div class="pick-color">
      <div class="text">Pick a color</div>
      <div class="color-option">
        <input type="radio" value="red" name="color-input" id="colorred" required="required">
        <label class="red" for="colorred"></label>
      </div>
      <div class="color-option">
        <input type="radio" value="green" name="color-input" id="colorgreen" required="required">
        <label class="green" for="colorgreen"></label>
      </div>
      <div class="color-option">
        <input type="radio" value="blue" name="color-input" id="colorblue" required="required">
        <label class="blue" for="colorblue"></label>
      </div>
      <div class="color-option">
        <input type="radio" value="purple" name="color-input" id="colorpurple" required="required">
        <label class="purple" for="colorpurple"></label>
      </div>
      <div class="color-option">
        <input type="radio" value="orange" name="color-input" id="colororange" required="required">
        <label class="orange" for="colororange"></label>
      </div>
      <div class="color-option">
        <input type="radio" value="gray" name="color-input" id="colorgray" required="required">
        <label class="gray" for="colorgray"></label>
      </div>
    </div>
    <div class="enter">
      <button class="btn btn-enter">Enter</button>
    </div>
  </form>
</div>

<div id="content-wrapper">
  <div id="game">
    <svg id="canvas" xmlns="http://www.w3.org/2000/svg"></svg>
    <input type="text" id="textbox" maxlength="55" />
  </div>
  <div id="userlist"></div>
</div>
