<div id="overlay"></div>

<div id="initial-splash">
  <div class="logo">Idle Chase</div>
  <form method="post" id="enter-form">
    <div class="pick-name">
      <input type="text" id="name-input" maxlength="20" placeholder="Type your name" required="required" />
    </div>
    <div class="pick-color">
      <div class="text">Pick a color</div>
      <div class="color-option">
        <input type="radio" value="yellow" name="color-input" id="coloryellow" required="required">
        <label class="yellow" for="coloryellow"></label>
      </div>
      <div class="color-option">
        <input type="radio" value="brown" name="color-input" id="colorbrown" required="required">
        <label class="brown" for="colorbrown"></label>
      </div>
            <div class="color-option">
        <input type="radio" value="gray" name="color-input" id="colorgray" required="required">
        <label class="gray" for="colorgray"></label>
      </div>
      <div class="color-option">
        <input type="radio" value="orange" name="color-input" id="colororange" required="required">
        <label class="orange" for="colororange"></label>
      </div>
    </div>
    <div class="enter">
      <button class="btn btn-enter">Enter</button>
    </div>
  </form>
</div>

<div id="content-wrapper">
  <div id="game"></div>
  <div id="msgbox"><div class="content"></div></div>
  <input type="text" id="textbox" maxlength="55" />
  <div id="userlist"></div>
</div>
