body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #141414;
  box-sizing: border-box;
  overflow: hidden;
}

#overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(/images/bg.png) repeat;
}

#initial-splash {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 100%;
  padding: 30px;
  border-radius: 5px;
  background-color: rgba(255,255,255,.5);
  z-index: 2;
}

.logo {
  font-family: 'Bungee', cursive;
  font-size: 50px;
  margin-bottom: 20px;
}

#name-input {
  width: 300px;
  max-width: calc(100% - 20px);
  height: 35px;
  font-size: 20px;
  border-radius: 5px;
  outline: 0;
  border: 1px solid #aaa;
  padding: 0 8px;
  margin-bottom: 15px;
}

#name-input:focus {
  border-color: #444;
  box-shadow: 0 0 8px 1px #aaa;
}

.pick-avatar {
  margin-bottom: 20px;
}

.pick-avatar .text {
  margin-bottom: 10px;
}

.avatar-option {
  position: relative;
  display: inline-block;
}

.avatar-option label {
  background-image: url(/sprites/sprites.png);
  background-repeat: no-repeat;
  /*background-clip: content-box;*/
  display: inline-block;
  border-radius: 5px;
  padding-bottom: 2px;
  cursor: pointer;
  width: 48px;
  height: 48px;
}

.avatar-option label:hover {
  background-color: rgba(0,0,0,.25);
}

.avatar-option label.yellow { background-position: -48px 0; }
.avatar-option label.orange { background-position: -192px 0; }
.avatar-option label.gray { background-position: -336px 0; }
.avatar-option label.brown { background-position: -480px 0; }
.avatar-option label.green { background-position: -48px -192px; }
.avatar-option label.ice { background-position: -192px -192px; }
.avatar-option label.purple { background-position: -336px -192px; }
.avatar-option label.blue { background-position: -480px -192px; }

.avatar-option input {
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 0;
  display: inline-block;
  transform: translateX(-50%);
  text-align: center;
}

.avatar-option input:checked + label {
  background-color: rgba(255,255,255,.9);
}

@keyframes avatar1 {
  from { background-position-x: 0; }
  to { background-position-x: -144px; }
}
@keyframes avatar2 {
  from { background-position-x: -144px; }
  to { background-position-x: -288px; }
}
@keyframes avatar3 {
  from { background-position-x: -288px; }
  to { background-position-x: -432px; }
}
@keyframes avatar4 {
  from { background-position-x: -432px; }
  to { background-position-x: -576px; }
}

.avatar-option input:checked + label.yellow, .avatar-option input:checked + label.green {
  animation: avatar1 .3s steps(3) infinite;
  animation-direction: alternate;
}
.avatar-option input:checked + label.orange, .avatar-option input:checked + label.ice {
  animation: avatar2 .3s steps(3) infinite;
  animation-direction: alternate;
}
.avatar-option input:checked + label.gray, .avatar-option input:checked + label.purple {
  animation: avatar3 .3s steps(3) infinite;
  animation-direction: alternate;
}
.avatar-option input:checked + label.brown, .avatar-option input:checked + label.blue {
  animation: avatar4 .3s steps(3) infinite;
  animation-direction: alternate;
}

.btn {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 7px 20px;
  background-color: teal;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  /*text-transform: uppercase;*/
  min-width: 140px;
  box-shadow: 1px 1px 6px 2px rgba(0,0,0,.15);
  outline: 0;
  cursor: pointer;
}

.btn:active {
  box-shadow: none;
  transform: translate(1px, 1px);
}

.btn:disabled {
  background-color: #9e9e9e;
}

#content-wrapper {
  max-width: 100%;
  overflow: hidden;
  display: none;
}

#game {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#userlist{
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  box-sizing: border-box;
  width: 160px;
  padding: 8px;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(0,0,0,.25);
  overflow: auto;
}

.user-info{
  display: flex;
  height: 25px;
  align-items: center;
  margin-bottom: 5px;
}

.color {
  display: inline-block;
  margin-right: 5px;
  border-radius: 3px 0 0 3px;
  width: 13px;
  height: 100%;
}

.color.yellow{ background-color: #d29900; }
.color.orange{ background-color: #e68237; }
.color.gray{ background-color: #9d9d9d; }
.color.brown{ background-color: #9f7b60; }
.color.green{ background-color: #1a4716; }
.color.ice{ background-color: #c5c5c5; }
.color.purple{ background-color: #897195; }
.color.blue{ background-color: #2c3c89; }

.name {
  flex: 1;
}

.pts {
  font-size: 12px;
  color: #D2D2D2;
}

#msgbox {
  width: 600px;
  max-width: calc(100% - 20px);
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 10px;
  padding: 0 8px;
  color: #FFF;
  font-size: 18px;
  line-height: 22px;
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1) 75%, rgba(0,0,0,0));
  mask-image: linear-gradient(to top, rgba(0,0,0,1) 75%, rgba(0,0,0,0));
  overflow: hidden;
  pointer-events: none;
}

#msgbox .content {
  position: absolute;
  bottom: 0;
  height: auto;
  /*transition: .2s;*/
}

#textbox {
  position: absolute;
  bottom: 15px;
  left: 10px;
  height: 30px;
  width: 400px;
  max-width: calc(100% - 20px);
  border-radius: 5px;
  border: 0;
  outline: 0;
  padding: 0 8px;
  font-size: 16px;
  background-color: rgba(0,0,0,.2);
  color: #fff;
  box-sizing: border-box;
}

#textbox:focus {
  box-shadow: 0 0 8px 1px #aaa;
}

#status {
  position: fixed;
  top: 15px;
  left: 10px;
  color: #FFF;
  padding: 8px;
  border-radius: 5px;
  background-color: rgba(0,0,0,.25);
  width: 200px;
  word-break: break-word;
}

#hp-bar {
  height: 7px;
  width: 100%;
  /* border: 1px solid #FFF; */
  position: relative;
}

#hp-bar .bar {
  background: linear-gradient(to right, #e66465, #25af12);
  height: 100%;
  width: 100%;
  position: absolute;
}

#hp-bar .mask {
  background: rgba(0,0,0,.8);
  height: 100%;
  position: absolute;
  right: 0;
}

@media (max-width: 768px) {
  #userlist {
    right: -127px;
    transition: .23s;
  }
  #userlist.open {
    right: 5px;
  }
  #textbox {
    bottom: 10px;
  }
  #msgbox {
    padding: 0;
    height: 132px;
  }
}
