body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #141414;
  box-sizing: border-box;
}

#initial-splash {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 100%;
  padding: 0 8px;
  box-sizing: border-box;
}

.logo {
  font-family: 'Bungee', cursive;
  font-size: 50px;
  margin-bottom: 20px;
}

#name-input {
  width: 300px;
  max-width: calc(100% - 20px);
  height: 35px;
  font-size: 20px;
  border-radius: 5px;
  outline: 0;
  border: 1px solid #aaa;
  padding: 0 8px;
  margin-bottom: 15px;
}

#name-input:focus {
  border-color: #444;
  box-shadow: 0 0 8px 1px #aaa;
}

.color-option {
  position: relative;
  display: inline-block;
}

.pick-color {
  margin-bottom: 20px;
}

.pick-color .text {
  margin-bottom: 10px;
}

.pick-color label{
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}

.pick-color label:hover{
  box-shadow: inset 0 0 6px 7px rgba(255,255,255,.3);
}

.pick-color input{
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  text-align: center;
}

.pick-color input:checked + label:before{
  content: '✓';
  position: absolute;
  color: #fff;
  font-size: 35px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.blue{ background-color: blue;}
.red{ background-color: red;}
.green{ background-color: green;}
.purple{ background-color: purple;}
.pink{ background-color: pink;}
.yellow{ background-color: #d29900;}
.brown{ background-color: #9f7b60;}
.gray{ background-color: #9d9d9d;}
.orange{ background-color: #e68237;}

.btn {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 7px 20px;
  background-color: teal;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  min-width: 140px;
  box-shadow: 1px 1px 6px 2px rgba(0,0,0,.15);
  outline: 0;
  cursor: pointer;
}

.btn:active {
  box-shadow: none;
  transform: translate(1px, 1px);
}

#content-wrapper {
  display: none;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

#game {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#userlist{
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  width: 160px;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(0,0,0,.25);
  overflow: hidden;
}

#userlist > div{
  margin-bottom: 5px;
  padding: 5px;
}

#userlist > div > span{
  border: 1px solid #fff;
}

#msgbox {
  width: 600px;
  max-width: calc(100% - 20px);
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 10px;
  padding: 0 8px;
  color: #FFF;
  font-size: 18px;
  line-height: 22px;
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1) 75%, rgba(0,0,0,0));
  mask-image: linear-gradient(to top, rgba(0,0,0,1) 75%, rgba(0,0,0,0));
  overflow: hidden;
}

#msgbox .content {
  position: absolute;
  bottom: 0;
  height: auto;
  /*transition: .2s;*/
}

#textbox {
  position: absolute;
  bottom: 15px;
  left: 10px;
  height: 30px;
  width: 400px;
  max-width: calc(100% - 20px);
  border-radius: 5px;
  border: 0;
  outline: 0;
  padding: 0 8px;
  font-size: 16px;
  background-color: rgba(0,0,0,.2);
  color: #fff;
  box-sizing: border-box;
}

#textbox:focus {
  box-shadow: 0 0 8px 1px #aaa;
}

@media (max-width: 768px) {
  #userlist {
    right: -127px;
    transition: .23s;
  }
  #userlist.open {
    right: 5px;
  }
  #textbox {
    bottom: 10px;
  }
  #msgbox {
    padding: 0;
    height: 132px;
  }
}
